@import "./styles/svideo";
@import "./styles/scontrollers";
@import "./styles/events";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(27, 27, 27);
}
main {
  display: flex;
  flex-direction: column;
}

.hide {
  display: none;
}
/* 
Solution to make controlls always on center

#controls {
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
 */
