@import "./styles/svideo";
@import "./styles/scontrollers";
@import "./styles/events";
@import "./styles/description";
@import "./styles/presentation";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e2fdff;
}
main {
  display: flex;
  flex-direction: column;
  /* Turned this off because it doesn't allow me to change the article's size */
  /* align-items: center; */
  gap: 2rem;

  article.article_with_video {
    border: 3px solid rgb(40, 45, 46);
    border-radius: 5px;
    width: 95vw;
    position: relative;
    top: 1rem;
  }
}

.hide {
  display: none;
}
