@import "./styles/svideo";
@import "./styles/scontrollers";
@import "./styles/events";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1f271b;
}
main {
  display: flex;
  flex-direction: column;
}

.hide {
  display: none;
}
