// Solution to make controlls always on center

#additional_controls {
  /*  z-index: 2; */
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  button {
    padding: 1rem;
    background-color: transparent;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;

    &#backward {
      transform: rotate(180deg);
      background-image: url(../media/img/fast-forward.png);
    }
    &#time_passed {
      background-image: url(../media/img/fast-forward.png);
    }
    &#forward {
      background-image: url(../media/img/fast-forward.png);
    }
  }
}
