#list_events {
  position: absolute;
  top: 20px;
  right: 10px;
  background-color: lightyellow;
  border: 2px solid rgba(35, 134, 167);
  border-radius: 2px;
  max-width: 70%;
  overflow: hidden;

  ul {
    list-style: none;
  }
}
