#section_controllers {
  display: flex;
  align-items: center;
  align-self: center;
  width: 100%;
  position: relative;
  bottom: 1.7rem;
  background-color: rgba(212, 212, 212, 0.7);

  button {
    height: 1.5rem;
    width: 1.5rem;
    border: none;
    background-color: transparent;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;

    &.play {
      margin: 0 0.3rem;
      background-image: url(../media/img/play.png);
    }

    &.pause {
      margin: 0 0.3rem;
      background-image: url(../media/img/pause.png);
    }

    &.fullscreen {
      margin: 0 0.3rem;
      background-image: url(../media/img/fullscreen.png);
    }
  }

  progress {
    flex-grow: 1;
    margin: 0 0.4rem;
  }

  /* Pending to make this "p" a contain a single "time"
  with both current time / video_duration */
  p {
    display: flex;
    gap: 0.2rem;
    font-size: 0.6rem;
  }
}

#section_controllers.please_hide {
  display: none;
}
