#section_controllers {
  display: flex;
  align-items: center;
  align-self: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgba(35, 134, 167, 0.8);

  button {
    height: 1.5rem;
    width: 1.5rem;
    border: none;
    background-color: transparent;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;

    &.play {
      margin: 0 0.3rem;
      background-image: url(../media/img/play.png);
    }

    &.pause {
      margin: 0 0.3rem;
      background-image: url(../media/img/pause.png);
    }

    &.fullscreen {
      margin: 0 0.3rem;
      background-image: url(../media/img/fullscreen.png);
    }
  }

  progress {
    flex-grow: 1;
    margin: 0 0.4rem;

    &[value] {
      -webkit-appearance: none;
      appearance: none;
    }

    &[value]::-webkit-progress-bar {
      background-color: #eee;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    }

    &[value]::-webkit-progress-value {
      background: #f4d35e;
    }
  }

  /* Pending to make this "p" a contain a single "time"
  with both current time / video_duration */
  p {
    display: flex;
    gap: 0.2rem;
    font-size: 0.8rem;
  }
}

#section_controllers.please_hide {
  display: none;
}
